# IDE setting files #
###################
# /로 끝나면 해당 디렉토리 전체를 무시
.idea/
.vscode/
.test/
target
build
*.bin
*.git
.svn
*.class
*.bak
*.iml

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln